@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "charydbis";
    font-weight: 500;
    src: url("../fonts/charydbis.ttf") format("truetype");
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Create the custom class */
.animate-blink {
  animation: blinker 1s step-start infinite;
}